@use "../global" as *;

.footer {
  &__inner {
    background-color: #000;
    position: relative;
  }
  &__img {
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
    width: 180px;
    @include mq("sp") {
      padding: 54px 0;
      width: 88px;
    }
  }
}
.pagetop {
  bottom: 66px;
  height: 80px;
  position: fixed;
  right: 20px;
  width: 80px;
  z-index: 90;
  @include mq("sp") {
    bottom: 20px;
    height: 40px;
    width: 40px;
  }
}