/*----------------------------------------------------------*/
// フォントファミリー
/*----------------------------------------------------------*/
$font-en:'Josefin Sans', sans-serif;
$font-jp: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

/*----------------------------------------------------------*/
// 変数
/*----------------------------------------------------------*/
$accent-colour: #EB51C2;